/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #6a2d57;
  --ion-color-primary-rgb: 106, 45, 87;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #5d284d;
  --ion-color-primary-tint: #794268;

  /** secondary **/
  --ion-color-secondary: #fe5c19;
  --ion-color-secondary-rgb: 254, 92, 25;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e05116;
  --ion-color-secondary-tint: #fe6c30;

  /** tertiary **/
  --ion-color-tertiary: #7874f7;
  --ion-color-tertiary-rgb: 120, 116, 247;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #6a66d9;
  --ion-color-tertiary-tint: #8682f8;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** Making Themne **/
  --ion-background-color: #ffb53e;
  --ion-background-color-rgb: 255, 181, 62;

  --ion-text-color: #000000;
  --ion-text-color-rgb: 0, 0, 0;

  --ion-color-step-50: #f2ac3b;
  --ion-color-step-100: #e6a338;
  --ion-color-step-150: #d99a35;
  --ion-color-step-200: #cc9132;
  --ion-color-step-250: #bf882f;
  --ion-color-step-300: #b37f2b;
  --ion-color-step-350: #a67628;
  --ion-color-step-400: #996d25;
  --ion-color-step-450: #8c6422;
  --ion-color-step-500: #805b1f;
  --ion-color-step-550: #73511c;
  --ion-color-step-600: #664819;
  --ion-color-step-650: #593f16;
  --ion-color-step-700: #4d3613;
  --ion-color-step-750: #402d10;
  --ion-color-step-800: #33240c;
  --ion-color-step-850: #261b09;
  --ion-color-step-900: #191206;
  --ion-color-step-950: #0d0903;

  --ion-border-color: var(--ion-color-primary);

  --ion-item-background: transparent;

  --ion-toolbar-background: var(--ion-background-color);

  --ion-tab-bar-background: var(--ion-background-color);

  --ion-card-background: #f4f5f8;
}
